<ngx-panel [headerTitle]="title" [position]="position" [borderRadius]="radius">
  <form>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" >
      <label class="form-check-label" >Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</ngx-panel>
